/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles, voor alle 4 de pagina's*/
body {
  font-family: verdana, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr; /* 2 kolommen, eerste kolom neemt 1 fractie van de beschikbare ruimte en de tweede kolom 3 fracties */
  grid-gap: 20px; /* Ruimte creeren tussen de kolommen */
}

.header {
  text-align: center;
  padding: 20px;
  background-color: #F56702;
  color: white;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.menu {
  position: relative;
}

.menu::after { /* Horizontale lijn onder het menu */
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: yellow;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #CC5500;
  text-align: left;
  justify-content: center;
  height: 40px;
  line-height: 10px;
}

.menu li {
  display: inline-block;
  vertical-align: middle;
  color: white;
  background-color: #CC5500;
  text-align: left;
  padding: 15px;
}

.menu li a {
  display: inline-block;
  color: white;
  padding: 0 15px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #F56702;
}

.row:after { /* floats wissen binnen het row element */
  content: "";
  display: table;
  clear: both; /* element dwingen om uit te zetten en om floats te wrappen */
}

.row {
  flex: 1;
  display: flex;
  flex-wrap: wrap; /* Als het scherm niet breed genoeg is, springt de kolom naar een nieuwe regel */
}

.col-3 {
  flex: 1;
  padding: 15px;
  background-color: #F7AE79;
  text-align: left;
}

.col-9 {
  flex: 3;
  padding: 15px;
  background-color: #FFF;
  text-align: left;
}

.titels {
  color: #CC5500;
}

.footer {
  text-align: center;
  padding: 15px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #D15802;
  color: black;
  width: 100%;
  margin-top: auto;
}

/* Contactformulier */
#contactform {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 100%;
}

#contactform label {
  text-align: left;
}

#contactform input,
#contactform select,
#contactform textarea {
  width: 100%;
  max-width: 400px;
}

#contactform button {
  width: 50%;
  max-width: 200px;
  padding: 10px 20px;
  border: none;
  background-color: #D15802;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

#contactform button:hover {
  background-color: #45A049;
}

/* Afbeeldingen */
#afb4 {
  width: 80%;
  max-width: 100%;
  height: auto;
}
#afb5 {
  float: right;
}

#afb6 {
  float: left;
}

/* Media queries: smartphones*/
@media only screen and (max-width: 768px) {
  [class*="col-"] {
    padding: 15px;
  }
  .col-1 {width: 100%}
  .col-2 {width: 100%}
  .col-3 {width: 100%}
  .col-4 {width: 100%}
  .col-5 {width: 100%}
  .col-6 {width: 100%}
  .col-7 {width: 100%}
  .col-8 {width: 100%}
  .col-9 {width: 100%}
  .col-10 {width: 100%}
  .col-11 {width: 100%}
  .col-12 {width: 100%}
  .container {
    grid-template-columns: 1fr;
  }

  .col-3, .col-9 {
    width: 100%;
  }

  .col-3 img,
  .col-9 img {
    width: 60%;
    max-width: 100%;
    height: auto;
  }
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #CC5500;
    text-align: center;
    justify-content: center;
    height: auto;
    line-height: normal;
  }

  .menu li {
    display: block;
  }
  
  .col-3,
  .col-9 {
    float: none;
    display: block;
  }
}

/* Media queries: tablets/laptops en desktops*/
@media only screen and (min-width: 768px) {
  [class*="col-"] {
    padding: 15px;
  }
  .col-1 {width: 8.33%}
  .col-2 {width: 16.66%}
  .col-3 {width: 25%}
  .col-4 {width: 33.33%}
  .col-5 {width: 41.66%}
  .col-6 {width: 50%}
  .col-7 {width: 58.33%}
  .col-8 {width: 66.66%}
  .col-9 {width: 75%}
  .col-10 {width: 83.33%}
  .col-11 {width: 91.66%}
  .col-12 {width: 100%}

  .col-3 {
    width: 25%;
    background-color: #F7AE79;
    text-align: left;
    display: inline-block;
    float: left;
  }
  .col-9 {
    width: 75%;
    background-color: white;
    text-align: left;
    display: inline-block;
    float: right;
  }

  .col-3 img,
  .col-9 img {
    width: 40%;
    max-width: 100%;
    height: auto;
  }

#afb1 {
  width: 60%;
  max-width: 100%;
  height: auto;
}

#afb2 {
  width: 40%;
  max-width: 100%;
  height: auto;
  }
}
